body {
	background-color: #072b4b;
	color:white;
	text-align:center;
	padding-top:50px;
	font-family:futura, Helvetica, Arial, serif;
}

.odevs-logo {
	margin: 10px auto 50px;
	max-width: 90%;
	height: auto;
	border: none;
	display: block;
}

input[type="text"]{
	height:55px;
	width:300px;
	font-size:18pt;
	line-height:55px;
	text-align:center;
	color:#7cb5e9;
	margin: 0 30px;
	font-family: futura, Helvetica, Arial, serif;
}

.randomize{
	margin-top:60px;

}
.randomize button{
	height:125px;
	width:450px;
	background-color:#a4c8d9;
	color:#072b4b;
	font-size:42pt;
	font-family:futura, Helvetica, Arial, serif;
	border:0;
	outline:0;
	border-radius:5px;
	box-shadow:0 10px #14436f;
}
.randomize button:active{
	box-shadow:none;
	position: relative;
	top: 10px;
}
#response{
	font-size:32pt;
	margin-top:70px;

}
